
<div class="card" style="background-color: aliceblue; display: flex; flex-direction: column; align-items: center; align-items: center; padding: 5px; border-radius: 5px; " [style]="{ width: '23.5rem', overflow: 'hidden' }" >
    <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (onClick)="deletePost()" />
    <p-image src="{{post().url}}" alt="Image" height="250" [preview]="true" />
    <p> <strong>ID</strong>: {{post().id}} </p>
    <p><strong>Tags</strong>:
    @for (tag of post().tags; track tag) {
        <p-tag value="{{tag}}" [rounded]="true" />
    }
    @empty {
        <p-tag value="Nessun tag" [rounded]="true" />
    }
    </p>
    <p><strong>Created at</strong>: {{post().created_at}}</p>
</div>