<div class="card" style="background-color: aliceblue; display: flex; flex-direction: column; align-items: center; align-items: center; padding: 5px; border-radius: 5px; " [style]="{ width: '23.5rem', overflow: 'hidden' }" >
  <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" (Click)="this.service.deleteCatPost()"/>
  <p-image src="{{kitty().url}}" alt="Image" height="250" [preview]="true" />
  <p> <strong>ID</strong>: {{kitty().id}}</p>
  <p><strong>Tags</strong>:
  @for (tag of kitty().tags; track tag) {
      <p-tag value="{{tag}}" [rounded]="true" />
  }
  @empty {
      <p-tag value="UNKNOWN" [rounded]="true" />
  }
  </p>
  <p><strong>Created at</strong>: {{kitty().created_at | date:'mediumDate'}}</p>
</div>
