<div
  class="card"
  style="
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  "
  [style]="{ width: '23.5rem', overflow: 'hidden' }"
>
  @if(deletes()){
    <p-button
    icon="pi pi-times"
    [rounded]="true"
    severity="danger"
    [outlined]="true"
    (onClick)="service.deleteCatPost(kitty().id)"/>


    <p-button [rounded]="true" severity="info" [outlined]="true" [routerLink]="['/edit-kitty/'+kitty().id]">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path
          d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
      </svg>
    </p-button>
  }
  @else{
    <p-button
    icon="pi pi-undo"
    [rounded]="true"
    severity="success"
    [outlined]="true"
    (onClick)="service.recoveryCatPost(kitty().id)"/>
  }

  <p-image src="{{ kitty().url }}" alt="Image" height="250" [preview]="true" />
  <p><strong>ID</strong>: {{ kitty().id }}</p>
  <p>
    <strong>Tags</strong>: @for (tag of kitty().tags; track tag) {
    <p-tag value="{{ tag }}" [rounded]="true" />
    } @empty {
    <p-tag value="UNKNOWN" [rounded]="true" />
    }
  </p>
  <p>
    <strong>Created at</strong>: {{ kitty().created_at | date : "mediumDate" }}
  </p>
</div>
