<div class="card flex flex-col gap-6 items-center justify-center">
    <p-toast />
    <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
        (onUpload)="onUpload($event)" />
    <div class="card flex justify-center">
        <p-multiselect [options]="tags" [(ngModel)]="selectedTags" optionLabel="name" placeholder="Seleziona una categoria" [maxSelectedLabels]="3" styleClass="w-full md:w-80" />
    </div>
        
    <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
</div>