/* adding global styles to the file */

@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
body {
  margin: 0;
  // background-color: rgba(170, 49, 252, 0.356);
  background-image: linear-gradient(
    to bottom,
    #fab3ff,
    #e7a3ec
  );
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  overflow: hidden;
  header{
    button{
      background-color: rgb(196, 108, 231) !important;
    }
    & p-button:last-child button{
      background-color: rgb(113, 187, 221) !important;
      border-color: rgb(93, 118, 187);
    }
  }
}
* {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
